<ul class="nav nav-pills nav-justified step step-progress">
    <li {% if step > 0 %}class="active" {% endif %}>
        <a>立项申请</a>
    </li>
    <li {% if step > 1 %}class="active" {% endif %}>
        <a>售前复核</a>
    </li>
    <li {% if step > 2 %}class="active" {% endif %}>
        <a>项目立项</a>
    </li>
    <li {% if step > 3 %}class="active" {% endif %}>
        <a>项目投标</a>
    </li>
    <li {% if step > 4 %}class="active" {% endif %}>
        <a>项目签约</a>
    </li>
    <li {% if step > 5 %}class="active" {% endif %}>
        <a>项目实施</a>
    </li>
    <li {% if step > 6 %}class="active" {% endif %}>
        <a>项目验收</a>
    </li>
    <li {% if step > 7 %}class="active" {% endif %}>
        <a>维保阶段</a>
    </li>
    <li {% if step > 8 %}class="active" {% endif %}>
        <a>关闭</a>
    </li>
</ul>