<form class="form-horizontal">
  <div class="form-group">
    <label class="col-sm-2 control-label">项目编号</label>
    <div class="col-sm-10">
      <p class="form-control-static" id="identifer">{{ identifier }}</p>
    </div>
  </div>
  <div class="form-group">
    <label for="case_title" class="col-sm-2 control-label">项目名称</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="case_title" placeholder="项目名称">
    </div>
  </div>
  <div class="form-group">
    <label for="current_budget" class="col-sm-2 control-label">项目预算</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="current_budget" placeholder="项目预算">
    </div>
  </div>
      <div class="form-group">
    <label for="case_deadline" class="col-sm-2 control-label">预计落单时间</label>
    <div class="col-sm-10">
      <input type="date" class="form-control" id="case_deadline" placeholder="预计落单时间">
    </div>
  </div>
      <div class="form-group">
    <label for="customer_title" class="col-sm-2 control-label">客户名称</label>
    <div class="col-sm-10">
        <select class="form-control" id="customer_title">
        {% if customer_list %}
            {% for customer in customer_list %}
                <option value="{{ customer.id }}">{{ customer.identifier }} -- {{ customer.customer_title }}</option>
            {% endfor %}
        {% else %}
                <option selected value="-1">请先添加客户</option>
        {% endif %}

        </select>
    </div>
  </div>
      <div class="form-group">
    <label for="contact_name" class="col-sm-2 control-label">客户联系人</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="contact_name" placeholder="客户联系人">
    </div>
  </div>
      <div class="form-group">
    <label for="contact_mobile" class="col-sm-2 control-label">客户联系方式</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="contact_mobile" placeholder="客户联系方式">
    </div>
  </div>
 <div class="form-group">
    <label for="sales" class="col-sm-2 control-label">销售经理</label>
    <div class="col-sm-10">
        <input type="hidden" id="salesId" value="{{ request.user.employee.id }}">
        <p class="form-control-static">{{ request.user.employee.real_name }}</p>
    </div>
  </div>
 <div class="form-group">
    <label for="se" class="col-sm-2 control-label">售前工程师</label>
    <div class="col-sm-10">
        <select class="form-control" id="se">
            {% for presale in presale_list %}
                <option value="{{ presale.id }}">{{ presale.real_name }}</option>
            {% endfor %}
        </select>
    </div>
  </div>

</form>


    <!-- 新建客户Modal -->
<div class="modal fade" id="NewCustomerModal" tabindex="-1" role="dialog" aria-labelledby="LevelModal">
  <div class="modal-dialog modal-sm" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">新建客户</h4>
      </div>

      <div class="modal-body">
          <form>
           <div class="form-group">
            <label for="customer_identifier">客户编号:</label>
            <input type="text" class="form-control" id="customer_identifier" placeholder="客户名称">
          </div>
          <div class="form-group">
            <label for="new_customer_title">客户名称:</label>
            <input type="text" class="form-control" id="new_customer_title" placeholder="客户名称">
          </div>
          </form>
    </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" onclick=savecustomer($("#new_customer_title").val(),$("#customer_identifier").val())>保存</button>
      </div>

    </div>
  </div>
</div>

<script type="application/javascript">

    function savecustomer(a,b) {
     $.ajax({
                 type: "POST",
                 url: "/case/api/savecustomer",
                 data: {"data":a,"cid":b},
                 success: function(data){
                       console.info(data);
                       window.location.reload();
                 },
                 error: function(XMLHttpRequest, textStatus, errorThrown){
                     console.info(XMLHttpRequest,textStatus,errorThrown)
                      this;
                 },
                 complete: function(XMLHttpRequest, textStatus){
                     console.info("complete");
                     this;
                 },
            });
     }

     function submitData() {
        var data = {
            "case_title":$("#case_title").val(),
            "current_budget":$("#current_budget").val(),
            "case_deadline":$("#case_deadline").val(),
            "customer_title":$("#customer_title").val(),
            "contact_name":$("#contact_name").val(),
            "contact_mobile":$("#contact_mobile").val(),
            "salesId":$("#salesId").val(),
            "seId":$("#se").val(),
            "identifer":$("#identifer").html()
        }
     $.ajax({
                 type: "POST",
                 url: "/case/api/opencase",
                 data: data,
                 success: function(data){
                       console.info(data);
                       window.location.href = "/case/View/"+data +"/Stage/2";
                 },
                 error: function(XMLHttpRequest, textStatus, errorThrown){
                     console.info(XMLHttpRequest,textStatus,errorThrown)
                      this;
                 },
                 complete: function(XMLHttpRequest, textStatus){
                     console.info("complete");
                     this;
                 },
            });


     }
</script>