<div class="page-header">
        <h5>
            立项申请
        </h5>
    </div>
    <div class="row">
          <div class="col-md-4">
              <div class="input-group row-margin-top">
                  <span class="input-group-addon">项目名称</span>
                  <input type="text" class="form-control" value="{{ casebaseinfo.case_title }}" readonly>
              </div>
          </div>
          <div class="col-md-4">
              <div class="input-group row-margin-top">
                  <span class="input-group-addon">项目预算</span>
                  <input type="text" class="form-control" value="{{ casebaseinfo.current_budget }}" readonly>
              </div>
          </div>
          <div class="col-md-4">
              <div class="input-group row-margin-top">
                  <span class="input-group-addon">预计落单时间</span>
                  <input type="text" id="case_deadline" class="form-control" value="{{ casebaseinfo.case_deadline }}" >
                  <span class="input-group-btn"><a class="btn btn-default" onclick=saveinfo('case_deadline',$("#case_deadline").val())>修改</a></span>
              </div>
          </div>
      </div>

    <div class="row">
          <div class="col-md-4">
              <div class="input-group row-margin-top">
                  <span class="input-group-addon">客户名称</span>
                  <input type="text" class="form-control" value="{{ casebaseinfo.customer_title.customer_title }}" readonly>
              </div>
          </div>
          <div class="col-md-4">
              <div class="input-group row-margin-top">
                  <span class="input-group-addon">客户联系人</span>
                  <input type="text" class="form-control" id="contact_name" value="{{ casebaseinfo.contact_name }}">
                  <span class="input-group-btn"><a class="btn btn-default" onclick=saveinfo('contact_name',$("#contact_name").val())>修改</a></span>
              </div>
          </div>
          <div class="col-md-4">
              <div class="input-group row-margin-top">
                  <span class="input-group-addon">客户联系方式</span>
                  <input type="text" id="contact_mobile" class="form-control" value="{{ casebaseinfo.contact_mobile }}" >
                  <span class="input-group-btn"><a class="btn btn-default" onclick=saveinfo('contact_mobile',$("#contact_mobile").val())>修改</a></span>
              </div>
          </div>
      </div>
    <div class="row">
          <div class="col-md-4">
              <div class="input-group row-margin-top">
                  <span class="input-group-addon">销售经理</span>
                  <input type="text" class="form-control" value="{{ casebaseinfo.sales.real_name }}" readonly>
              </div>
          </div>
          <div class="col-md-4">
              <div class="input-group row-margin-top">
                  <span class="input-group-addon">售前工程师</span>
                  <input type="text" class="form-control" id="contact_name" value="{{ casebaseinfo.presales.real_name }}" readonly>
              </div>
          </div>

      </div>