{% extends "base.html" %}
{% load core_tags %}
{% block title %} <title>XYDATA.CN - Case</title> {% endblock %}
{% block breadcrumb %}
<ol class="breadcrumb">
  <li><a href="{% url 'workflows' %}">Home</a></li>
  <li class="active">Case</li>
</ol>
{% endblock %}
{% block main_content %}
<div class="row">
  <div class="col-md-9 col-md-push-3">
    <blockquote class="blockquote-reverse">
		<h6><strong>项目管理</strong></h6>
	</blockquote>
  </div>
  <div class="col-md-3 col-md-pull-9">
      {% if opencase %}
    <a href="{% url 'case-create' %}" class="btn btn-primary" role="button"><span class="glyphicon glyphicon glyphicon-edit"></span> 立项 </a>
  {% endif %}
  </div>
</div>
{% if object_list %}
<table class="table table-bordered responsive">
	<tr>
		<th></th>
		<th class="text-center">项目编号</th>
		<th class="text-center">项目名称</th>
        <th class="text-center">当前状态</th>
{#		<th>更新时间</th>#}
    </tr>
    {% for object in object_list %}
	<tr>
		<td class="text-center">
            <a class="btn btn-success btn-xs " href="{% url 'case-view' object.id object.milestone%}"><span class="glyphicon glyphicon glyphicon-check"></span>查看</a>
		    {% if object.milestone == 1 and confirmcase %}
            <a class="btn btn-danger btn-xs " href="{% url 'case-view' object.id object.milestone%}"><span class="glyphicon glyphicon glyphicon-check"></span>售前复核</a>
            {% endif %}
            {% if object.milestone == 2 and approvecase %}
            <a class="btn btn-danger btn-xs " href="{% url 'case-view' object.id object.milestone%}"><span class="glyphicon glyphicon glyphicon-check"></span>立项审核</a>
            {% endif %}
        </td>
		<td class="text-center">{{object.identifier}}</td>
		<td class="text-center">{{object.case_title}}</td>
        <td class="text-center">{{object.get_milestone_display}}</td>
{#		<td>{{object.update_date}}</td>#}
    </tr>

	{% endfor %}
</table>
{% else %}
    <p>No requests are available.</p>
{% endif %}
{% endblock %}