{% extends "base.html" %}
{% load core_tags %}
{% block title %} <title>XYDATA.CN - Case</title> {% endblock %}
{% block breadcrumb %}
<ol class="breadcrumb">
  <li><a href="{% url 'workflows' %}">Home</a></li>
  <li class="active">Case</li>
</ol>
{% endblock %}
{% block main_content %}
<div class="row">
  <div class="col-md-9 col-md-push-3">
    <blockquote class="blockquote-reverse">
		<h6><strong>项目管理</strong></h6>
	</blockquote>
  </div>
  <div class="col-md-3 col-md-pull-9">
    <a href="{% url 'case-create' %}" class="btn btn-primary" role="button"><span class="glyphicon glyphicon glyphicon-edit"></span> 立项 </a>
  </div>
</div>
{% if object_list %}
<table class="table table-bordered">
	<tr>
		<th><span class="glyphicon glyphicon-menu-hamburger"></span></th>
		<th>项目编号</th>
		<th>项目名称</th>
        <th>当前状态</th>
		<th>更新时间</th>
    </tr>
    {% for object in object_list %}
	<tr class="active">
		<td>
            <a class="btn btn-info btn-xs " href="{% url 'case-view' object.id %}"><span class="glyphicon glyphicon glyphicon-check"></span>查看</a>
		</td>
		<td>{{object.identifier}}</td>
		<td>{{object.case_title}}</td>
        <td>{{object.milestone}}</td>
		<td>{{object.update_date}}</td>
    </tr>

	{% endfor %}
</table>
{% else %}
    <p>No requests are available.</p>
{% endif %}
{% endblock %}