{% extends "base.html" %}
{% block title %} <title>XYDATA - {{ casebaseinfo.case_title }}</title> {% endblock %}
{% block breadcrumb %}
<ol class="breadcrumb">
  <li><a href="{% url 'workflows' %}">Home</a></li>
  <li><a href="{% url 'case-list' %}">Case</a></li>
  <li class="active">{{ casebaseinfo.case_title }}</li>
</ol>
{% endblock %}
{% block main_content %}
    {% if step == 0 %}
    <div class="page-header">
        <h3>项目立项
            <div class="btn-group pull-right" role="group" aria-label="...">
                <button type="button" class="btn btn-default" data-toggle="modal" data-target="#NewCustomerModal">新建客户</button>
                <button type="button" class="btn btn-primary" onclick=submitData()>保存</button>
              </div>
        </h3>

    </div>
    {% else %}
    <div class="page-header">
        <h3>{{ casebaseinfo.case_title }}
            <small>{{ casebaseinfo.identifier }}</small>
            <span class="label label-info pull-right">{{ casebaseinfo.get_milestone_display }}</span>
        </h3>
    </div>
    {% endif %}

    {% include "case/widgets/case_progress.html" with step=step %}


    {% if step == 0 %}
    {% include "case/widgets/opencase_edit.html" %}
    {% endif %}
    {% if step == 1 %}
    {% include "case/widgets/confirmcase_edit.html" %}
    {% endif %}

{% endblock %}